<div class="example-search-dialog" cdkDropListGroup>
    <mat-form-field class="example-chip-list" appearance="fill">
        <mat-label>Filter by Categories</mat-label>
        <mat-chip-list #chipList aria-label="Fruit selection" cdkDropList [cdkDropListData]="data.selectedCategories"
            cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
            <mat-chip *ngFor="let category of data.selectedCategories" [selectable]="selectable" [removable]="removable"
                (removed)="remove(category)" cdkDrag>
                {{category}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [disabled]='true'>
        </mat-chip-list>
    </mat-form-field>

    <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal"
        [cdkDropListData]="data.allCategories" (cdkDropListDropped)="drop($event)">
        <mat-chip class="example-box" cdkDrag *ngFor="let category of data.allCategories">
            {{category}}
        </mat-chip>
    </mat-chip-list>

    <mat-toolbar-row>
        <button mat-icon-button [mat-dialog-close]="data.selectedCategories">
            <mat-icon>check</mat-icon>
        </button>
        <button mat-icon-button matDialogClose>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</div>