<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Delete item {{data.name}}</mat-label>
    <input matInput type="text" [(ngModel)]="data.confirmedText" placeholder="enter 'Confirmed' to delete">
    <button *ngIf="data.confirmedText" matSuffix mat-icon-button aria-label="Clear" (click)="data.confirmedText=''">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>

<div mat-dialog-actions>
    <button mat-icon-button [mat-dialog-close]="data.confirmedText" [disabled]="data.confirmedText != 'Confirmed' ">
        <mat-icon>delete_outline</mat-icon>
    </button>
    <button mat-icon-button matDialogClose>
        <mat-icon>close</mat-icon>
    </button>
</div>